@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: #06004a;
  --secondary-color: #0c1862;
  --colora: #797b92;
  --colorb: #efefef;
  --colorbody: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
html::-webkit-scrollbar {
  width: 1.2  vw;  
  height: 0.1vh;  
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
  border-radius: 6px;
  border: 3px solid var(--colorb);
  transition: background 0.3s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--secondary-color), var(--primary-color));
}

html::-webkit-scrollbar-track {
  background: var(--colorb);
  border-radius: 6px;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px; 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: background 0.3s ease;  
}

.header .logo img {
  height: 100px; 
  width: auto; 
  cursor: pointer;
}

.header.sticky {
  background: var(--primary-color);  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
 
.header a,
.header .menu-toggle {
  display: flex;
  align-items: center;
}

.menu-toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-toggle img {
  width: 60%;
  height: 20px;
}

.full-page-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: var(--colorb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.full-page-menu.active {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close-button img {
  width: 60%;
  height: 25px;
}

.menu-list {
  list-style: none;
  text-align: center;
}

.menu-list li {
  margin: 20px 0;
}

.menu-list li a {
  text-decoration: none;
  font-size: 2em;
  color: var(--colorb);
  transition: color 0.3s ease-in-out;
}

.menu-list li a:hover {
  color: var(--colora);
}



.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: var(--colorb);
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  filter: brightness(70%); 
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4)
}

.hero-text {
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-text h2 {
  font-size: 4.2em;
  font-weight: 900;
  color: var(--colorb);
  line-height: 1.2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}

.hero-text h3 {
  font-size: 3.2em;
  font-weight: 700;
  color: var(--colora);
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.3em;
  color: var(--colorb);
  margin: 20px 0;
  font-weight: 300;
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6;
}

.hero-text a {
  display: inline-block;
  font-size: 1.2em;
  background: var(--colora);
  padding: 12px 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s;
}

.hero-text a:hover {
  background: var(--secondary-color);
  letter-spacing: 4px;
}

.social-icons {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.social-icons li {
  list-style: none;
  font-size: 2.1em;
}

.social-icons li a {
  color: var(--colorbody);
  display: inline-block;
  margin: 0 15px; 
  transition: 0.3s;
}

.social-icons li a:hover {
  color: var(--colora);
}


.full-page-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: var(--colorb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.full-page-menu.active {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close-button img {
  width: 60%;
  height: 25px;
}

.menu-list {
  list-style: none;
  text-align: center;
}

.menu-list li {
  margin: 20px 0;
}

.menu-list li a {
  text-decoration: none;
  font-size: 2em;
  color: var(--colorb);
  transition: color 0.3s ease-in-out;
}

.menu-list li a:hover {
  color: var(--colora);
}
 
@media (max-width: 768px) {
  .hero-section {
    padding: 40px;
  }

  .hero-text h2 {
    font-size: 2.5em;
  }

  .hero-text h3 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 1em;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
  }

  .menu-toggle img {
    width: 100%;
    height: auto;
  }
}


/* About Section */
.about-section {
  padding: 100px 20px; 
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: var(--colorb);
  overflow: hidden;
  position: relative;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-text {
  flex: 1 1 50%;
  padding: 20px;
  text-align: left;
}

.about-text h2 {
  font-size: 2.8rem;  
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--colorb);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); 
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-text p {
  font-size: 1.15rem;  
  line-height: 1.8;
  margin-bottom: 40px;
}

.about-features {
  flex: 1 1 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
  justify-content: space-between;
}

.feature {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  padding: 20px;
  background: var(--colora);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.feature:hover {
  background: #606070;
  color: #fff;  
  /* transform: scale(1.05);   */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);  
}

.feature .icon {
  margin-right: 20px;
}

.feature .icon img {
  width: 70px;  
  height: 70px;
}

.feature-text h3 {
  font-size: 1.6rem;  
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.feature-text p {
  font-size: 1.05rem; 
  color: var(--colorb);
  line-height: 1.6; 
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .about-features {
    flex: 1 1 100%;
  }

  .feature {
    flex: 1 1 80%;
    margin: 10px auto;  
  }
}

@media (max-width: 480px) {
  .feature {
    flex: 1 1 100%;
  }
}


/* Services */ 
.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Services Title */
.services-title {
  font-size: 3.5rem;
  text-align: center;
  /* margin-bottom: 60px; */
  color: var(--primary-color);
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}

.services-title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70px;
  height: 6px;
  background-color: #57b4d8;
  border-radius: 3px;
  z-index: -1;
}

.highlight {
  color: var(--secondary-color);
  font-weight: 700;
}

/* Services Overview Section */
.services-overview {
  background: #ffffff;
  padding: 80px 20px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.service-item {
  flex: 1 1 22%;
  background: #f9f9f9;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.service-item:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  background-color: #659ebd;
}

.service-icon {
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.service-item:hover .service-icon {
  color: var(--secondary-color);
}

.service-item h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: 700;
}

.service-item p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}


  /* Portfolio Section */
.portfolio-section {
  background-color: var(--primary-color);
  color: var(--colorb);
  min-height: 100vh;  
  display: flex;
  justify-content: center;  
  align-items: center; 
  padding: 50px 0;  
}

.portfolio-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  overflow: hidden; 
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.portfolio-heading {
  font-size: 3.5em; 
  color: var(--colorbody);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.portfolio-subheading {
  font-size: 1.5em; 
  color: var(--colorbody);
  margin-bottom: 40px; 
}

.highlight-text {
  color: var(--colora);
}

.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;  
}

.portfolio-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  align-items: flex-end;
  height: 350px;  
  color: var(--colorbody);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  margin: 10px;  
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  transition: background 0.3s ease-in-out;
}

.portfolio-card:hover .portfolio-card-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.portfolio-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.portfolio-card-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-card-title {
  font-size: 1.75em;
  margin-bottom: 10px;
}

.portfolio-card-description {
  font-size: 1.1em;
}

.swiper-pagination {
  position: absolute;
  bottom: -2rem !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: var(--colora) !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--secondary-color);
}

.portfolio-swiper-button-next,
.portfolio-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: var(--colora);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorbody);
  font-size: 18px;
  z-index: 10;
  transition: background 0.3s ease-in-out;
}

.portfolio-swiper-button-next:hover,
.portfolio-swiper-button-prev:hover {
  background: var(--secondary-color);
}

.portfolio-swiper-button-next {
  right: 20px;
}

.portfolio-swiper-button-prev {
  left: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .portfolio-card {
    max-width: 100%;
    height: 250px;  
  }

  .portfolio-swiper-button-next,
  .portfolio-swiper-button-prev {
    top: 10%;
    transform: translateY(-10%);
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .portfolio-swiper-button-next,
  .portfolio-swiper-button-prev {
    top: 5%;
    transform: translateY(-5%);
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}


/* Testimonuial(reviews) */ 
.testimonials {
  padding: 50px 0;
  background-color: var(--colorb);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.testimonials h2 {
  margin-bottom: 30px;
  font-size: 2.5em;
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.testimonials h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
  margin: 10px auto;
  border-radius: 5px;
}

.testimonial-slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.testimonial-slide {
  min-width: 100%;
  transition: transform 0.8s ease-in-out;
}

.testimonial-content {
  background: var(--colorbody);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 700px;
  margin: 0 auto;
  color: var(--colora);
  position: relative;
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.testimonial-content:hover {
  transform: scale(1);
}

.testimonial-content p {
  font-size: 1.25em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial-author {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--primary-color);
}

.testimonial-author span {
  display: block;
  font-size: 0.9em;
  color: var(--colora);
}

.testimonials::after, .testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  pointer-events: none;
}

.testimonials::after {
  right: 0;
  background: linear-gradient(to right, var(--colorb), rgba(255, 255, 255, 0));
}

.testimonials::before {
  left: 0;
  background: linear-gradient(to left, var(--colorb), rgba(255, 255, 255, 0));
}

/* Contact Section */
.contact {
  padding: 80px 20px;
  background: #f9f9f9;
  text-align: center;
}

.contact .container {
  max-width: 900px;
  margin: 0 auto;
}

.contact .section-title {
  font-size: 3.5em; 
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 800; 
  text-transform: uppercase;  
}

.contact .section-description {
  font-size: 1.5em;  
  margin-bottom: 40px;
  color: var(--colora);
  line-height: 1.5;  
}

.contact-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;  
}

.contact-option {
  flex: 1;
  max-width: 280px;  
  margin: 20px;
  padding: 25px;
  background: var(--colorbody);
  border-radius: 12px;  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.05);  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-option:hover {
  transform: translateY(-8px);  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.1); 
}

.contact-option i {
  font-size: 3rem;  
  color: var(--primary-color);
  margin-bottom: 15px;  
}

.option-content h4 {
  font-size: 1.75rem;  
  margin-bottom: 10px;
  color: var(--primary-color);
}

.option-content p {
  font-size: 1.1rem;  
  color: var(--colora);
  line-height: 1.5;  
}

.contact-action {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.action-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;  
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: var(--colora);
  color: var(--secondary-color);  
}



/* Footer */
.footer {
  background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  color: var(--colorbody);
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo h2 {
  color: var(--colorbody);
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-logo p {
  color: var(--colora);
  font-size: 1.1em;
  line-height: 1.6;
}

.footer-contact, .footer-links{
  margin-bottom: 30px;
}

.footer-contact h4, .footer-links h4 {
  color: var(--colorbody);
  font-size: 1.6em;
  margin-bottom: 15px;
}

.footer-contact p, .footer-links ul{
  color: var(--colora);
  font-size: 1em;
}

.footer-contact p {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--colorbody);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.footer-links a:hover {
  color: var(--colora);
  transform: translateX(5px);
}
 
.footer-bottom {
  background: var(--primary-color);
  color: var(--colorbody);
  padding: 20px;
  font-size: 1em;
}

.footer-bottom .social-media {
  margin-bottom: 15px;
}

.footer-bottom .social-media a {
  color: var(--colorbody);
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s, transform 0.3s;
}

.footer-bottom .social-media a:hover {
  color: var(--colora);
  transform: scale(1.1);
}

.footer-bottom p {
  margin: 0;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 60px;
  }

  .footer-logo, .footer-contact, .footer-links, .footer-newsletter {
    flex: 1;
    margin-bottom: 0;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .footer-logo h2 {
    font-size: 3em;
  }

  .footer-logo p {
    font-size: 1.3em;
  }

  .footer-contact h4, .footer-links h4, .footer-newsletter h4 {
    font-size: 1.8em;
  }

  .footer-contact p, .footer-links ul, .footer-newsletter form {
    font-size: 1.1em;
  }

  .footer-links ul li {
    margin-bottom: 15px;
  }
}

