@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: #06004a;
  --secondary-color: #0c1862;
  --colora: #797b92;
  --colorb: #efefef;
  --colorbody: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: var(--colorb);
  text-transform: uppercase;
  cursor: pointer;
}

.menu-toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-toggle img {
  width: 60%;
  height: 20px;
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: var(--colorb);
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  z-index: 10;
  text-align: center;
}

.hero-text h2 {
  font-size: 4em;
  font-weight: 800;
  color: var(--colorb);
  line-height: 1.2em;
  text-transform: uppercase;
}

.hero-text h3 {
  font-size: 3em;
  font-weight: 700;
  color: var(--colora);
  line-height: 1.2em;
  text-transform: uppercase;
}

.hero-text p {
  font-size: 1.2em;
  color: var(--colorb);
  margin: 20px 0;
  font-weight: 400;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text a {
  display: inline-block;
  font-size: 1.1em;
  background: var(--colora);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s;
}

.hero-text a:hover {
  background: var(--secondary-color);
  letter-spacing: 4px;
}

.social-icons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  margin: 0 10px;
  filter: invert(1);
  transform: scale(0.6);
  transition: 0.3s;
}

.social-icons li a:hover {
  transform: scale(0.6) translateY(-10px);
}

.full-page-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: var(--colorb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.full-page-menu.active {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close-button img {
  width: 60%;
  height: 25px;
}

.menu-list {
  list-style: none;
  text-align: center;
}

.menu-list li {
  margin: 20px 0;
}

.menu-list li a {
  text-decoration: none;
  font-size: 2em;
  color: var(--colorb);
  transition: color 0.3s ease-in-out;
}

.menu-list li a:hover {
  color: var(--colora);
}

@media (max-width: 768px) {
  .hero-section {
    padding: 40px;
  }

  .hero-text h2 {
    font-size: 2.5em;
  }

  .hero-text h3 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 1em;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
  }

  .menu-toggle img {
    width: 100%;
    height: auto;
  }
}


/* About */

.about-section {
  height: 70vh;
  padding: 80px 20px;
  background: linear-gradient(135deg, var(--primary-color), #0c1862);
  color: var(--colorb);
  overflow: hidden;
  position: relative;
} 

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-text {
  flex: 1 1 45%;
  padding: 20px;
  text-align: left;
}

.about-text h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--colorb);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.about-text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 40px;
}

.about-features {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.feature {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background: var(--colora);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature:hover {
  background: #606070;
}

.feature .icon {
  margin-right: 20px;
}

.feature .icon img {
  width: 60px;
  height: 60px;
}

.feature-text h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--primary-color);
}

.feature-text p {
  font-size: 1em;
  color: var(--colorb);
}

/* Responsive styles */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .about-features {
    flex: 1 1 100%;
  }

  .feature {
    flex: 1 1 80%;
  }
}


/* Services */
.services-section {
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.services-header {
  margin-bottom: 40px;
}

.services-header h2 {
  font-size: 3em;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-header p {
  font-size: 1.2em;
  color: var(--secondary-color);
  margin: 0;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background-color: #ffffff;
  border: solid 1px transparent;
  border-radius: 12px;
  padding: 20px;
  width: calc(25% - 20px);
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  background: linear-gradient(var(--colorbody), var(--colorbody)) padding-box,
              linear-gradient(45deg, var(--colora), var(--secondary-color)) border-box;
}

.service-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.service-card p {
  color: #666;
  font-size: 1em;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .service-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 100%;
  }
}